ProTrackDev/force-app/main/default/flows/Case_After_Update.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <assignments>
        <name>Assign_Resolution_Milestone_ID</name>
        <label>Assign Resolution Milestone ID</label>
        <locationX>534</locationX>
        <locationY>1487</locationY>
        <assignmentItems>
            <assignToReference>caseMilestoneToClose.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_Case_Milestones.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>caseMilestoneToClose.CompletionDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>exitEntitlementProcess</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_Case_Milestones</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Resolution_Milestone_Type_ID</name>
        <label>Assign Resolution Milestone Type ID</label>
        <locationX>534</locationX>
        <locationY>815</locationY>
        <assignmentItems>
            <assignToReference>resolutionMilestoneTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Go_through_all_Milestone_Types.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Go_through_all_Milestone_Types</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Response_Milestone_ID</name>
        <label>Assign Response Milestone ID</label>
        <locationX>270</locationX>
        <locationY>1487</locationY>
        <assignmentItems>
            <assignToReference>caseMilestoneToClose.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_Case_Milestones.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>caseMilestoneToClose.CompletionDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_Case_Milestones</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Response_Milestone_Type_ID</name>
        <label>Assign Response Milestone Type ID</label>
        <locationX>270</locationX>
        <locationY>815</locationY>
        <assignmentItems>
            <assignToReference>responseMilestoneTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Go_through_all_Milestone_Types.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Go_through_all_Milestone_Types</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>resolutionMilestoneName</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Resolution Time</stringValue>
        </value>
    </constants>
    <constants>
        <name>responseMilestoneName</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Response Time</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Can_we_mark_Milestone_as_done</name>
        <label>Can we mark any Milestone as done ?</label>
        <locationX>380</locationX>
        <locationY>335</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yess</name>
            <conditionLogic>((1 AND 2) OR (4 OR 5 OR 6 OR 7)) AND 3</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Incident</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pending Deployment</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Deployed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pending Closure Confirmation</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_All_Milestone_Types</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Should_entitlement_process_marked_as_closed</name>
        <label>Should entitlement process marked as closed ?</label>
        <locationX>182</locationX>
        <locationY>1919</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>exitEntitlementProcess</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Case_and_Exit_Entitlement_Process_0</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Which_Milestone_to_mark_as_done</name>
        <label>Which Milestone to mark as done ?</label>
        <locationX>534</locationX>
        <locationY>1367</locationY>
        <defaultConnector>
            <targetReference>Loop_through_Case_Milestones</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Response_Time_Milestone</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_through_Case_Milestones.MilestoneTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>responseMilestoneTypeId</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Response_Milestone_ID</targetReference>
            </connector>
            <label>Response Time Milestone</label>
        </rules>
        <rules>
            <name>Resolution_Time_Milestone</name>
            <conditionLogic>1 AND (2 OR 3 OR 4 OR 5)</conditionLogic>
            <conditions>
                <leftValueReference>Loop_through_Case_Milestones.MilestoneTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>resolutionMilestoneTypeId</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pending Deployment</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Deployed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pending Closure Confirmation</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Resolution_Milestone_ID</targetReference>
            </connector>
            <label>Resolution Time Milestone</label>
        </rules>
    </decisions>
    <decisions>
        <name>Which_type_of_response</name>
        <label>Which type of response</label>
        <locationX>534</locationX>
        <locationY>695</locationY>
        <defaultConnector>
            <targetReference>Go_through_all_Milestone_Types</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Response_Milestone</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Go_through_all_Milestone_Types.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>responseMilestoneName</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Response_Milestone_Type_ID</targetReference>
            </connector>
            <label>Response Milestone</label>
        </rules>
        <rules>
            <name>Resolution_Milestone</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Go_through_all_Milestone_Types.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>resolutionMilestoneName</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Resolution_Milestone_Type_ID</targetReference>
            </connector>
            <label>Resolution Milestone</label>
        </rules>
    </decisions>
    <interviewLabel>Case After Update {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Case After Update</label>
    <loops>
        <name>Go_through_all_Milestone_Types</name>
        <label>Go through all Milestone Types</label>
        <locationX>182</locationX>
        <locationY>575</locationY>
        <collectionReference>Get_All_Milestone_Types</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Which_type_of_response</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_All_Case_Milestones</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_through_Case_Milestones</name>
        <label>Loop through Case Milestones</label>
        <locationX>182</locationX>
        <locationY>1247</locationY>
        <collectionReference>Get_All_Case_Milestones</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Which_Milestone_to_mark_as_done</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Case_Milestone</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_All_Case_Milestones</name>
        <label>Get All Case Milestones</label>
        <locationX>182</locationX>
        <locationY>1127</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_through_Case_Milestones</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CaseId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsCompleted</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>CaseMilestone</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_All_Milestone_Types</name>
        <label>Get All Milestone Types</label>
        <locationX>182</locationX>
        <locationY>455</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Go_through_all_Milestone_Types</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>resolutionMilestoneName</elementReference>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>responseMilestoneName</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>MilestoneType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Case_and_Exit_Entitlement_Process_0</name>
        <label>Update Case and Exit Entitlement Process</label>
        <locationX>50</locationX>
        <locationY>2039</locationY>
        <inputAssignments>
            <field>Exit_Milestone_Process__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Case_Milestone</name>
        <label>Update Case Milestone</label>
        <locationX>182</locationX>
        <locationY>1799</locationY>
        <connector>
            <targetReference>Should_entitlement_process_marked_as_closed</targetReference>
        </connector>
        <inputReference>caseMilestoneToClose</inputReference>
    </recordUpdates>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Can_we_mark_Milestone_as_done</targetReference>
        </connector>
        <object>Case</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>caseMilestoneToClose</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CaseMilestone</objectType>
    </variables>
    <variables>
        <name>exitEntitlementProcess</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>resolutionMilestoneTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>responseMilestoneTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
