ProTrackDev/force-app/main/default/flows/Create_New_Tester_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>52.0</apiVersion>
    <dynamicChoiceSets>
        <name>TestPhaseOptions</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>TR_Test_Phase__c</picklistField>
        <picklistObject>TR_Tester__c</picklistObject>
    </dynamicChoiceSets>
    <interviewLabel>Create New Test Script Tester Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>New Test Script Tester</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Tester</name>
        <label>Create Tester</label>
        <locationX>656</locationX>
        <locationY>326</locationY>
        <connector>
            <targetReference>New_Tester_Created</targetReference>
        </connector>
        <inputAssignments>
            <field>TR_Test_Phase__c</field>
            <value>
                <elementReference>Test_Phase</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TR_Test_Template__c</field>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TR_User__c</field>
            <value>
                <elementReference>uTester.recordId</elementReference>
            </value>
        </inputAssignments>
        <object>TR_Tester__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <runInMode>DefaultMode</runInMode>
    <screens>
        <name>New_Tester_Created</name>
        <label>New Tester Created</label>
        <locationX>656</locationX>
        <locationY>446</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>NavigateToTestScript</name>
            <extensionName>c:TR_NavigateToRecId</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>recId</name>
                <value>
                    <elementReference>recordId.Id</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>recordId.Id</assignToReference>
                <name>recId</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>New_Tester_Record</name>
        <label>New Tester Record</label>
        <locationX>656</locationX>
        <locationY>206</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Create_Tester</targetReference>
        </connector>
        <fields>
            <name>New_Tester_Record_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>New_Tester_Record_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Decription</name>
                    <fieldText>&lt;p&gt;Fill this form to create a Tester, that should be assigned to this test script for a specific testing phase. This will automatically create a Test Execution record ! Easy ! :-)&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>New_Tester_Record_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>User_Story</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>recordId.TR_User_Story__r.Name</elementReference>
                    </defaultValue>
                    <fieldText>User Story</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Test_Script</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>recordId.Name</elementReference>
                    </defaultValue>
                    <fieldText>Test Script</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Test_Phase</name>
            <choiceReferences>TestPhaseOptions</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>recordId.TR_Test_Phase__c</elementReference>
            </defaultValue>
            <fieldText>Test Phase</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>uTester</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>TR_User__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Test Script Tester</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>TR_Tester__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>530</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>New_Tester_Record</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>TR_Test_Script__c</objectType>
    </variables>
</Flow>
