ProTrackDev/force-app/main/default/flows/Display_Incoherent_Completed_Date_Toast.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>52.0</apiVersion>
    <decisions>
        <name>is_completed_date_coherent</name>
        <label>is completed date coherent ?</label>
        <locationX>182</locationX>
        <locationY>335</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No</name>
            <conditionLogic>6 AND (( (1 OR 2) AND 3 AND 5) OR (4))</conditionLogic>
            <conditions>
                <leftValueReference>$Record.TR_Completed_Date__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>$Record.TR_Allocated_Sprint__r.TR_Start_Date__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.TR_Completed_Date__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>$Record.TR_Allocated_Sprint__r.TR_End_Date__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.TR_Allocated_Sprint__r.TR_Start_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.TR_Allocated_Sprint__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.TR_Allocated_Sprint__r.TR_End_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.TR_Completed_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Display_Event_Toast</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <interviewLabel>Display Incoherent Completed Date Toast {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Display Incoherent Completed Date Toast</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Display_Event_Toast</name>
        <label>Display Event Toast</label>
        <locationX>50</locationX>
        <locationY>455</locationY>
        <inputAssignments>
            <field>TR_Key__c</field>
            <value>
                <stringValue>Complete_Date_Incoherence</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TR_Message__c</field>
            <value>
                <stringValue>This User Story has been marked DONE outside of the period for a Sprint ! Please review &quot;Completed Date&quot; and make sure it is defined between Sprint Start and End date</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TR_Mode__c</field>
            <value>
                <stringValue>sticky</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TR_Title__c</field>
            <value>
                <stringValue>User Story marked as done outside a sprint !!</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TR_Variant__c</field>
            <value>
                <stringValue>Warning</stringValue>
            </value>
        </inputAssignments>
        <object>TR_ToastEvent__e</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>is_completed_date_coherent</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>TR_Completed_Date__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>TR_User_Story__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
