ProTrackDev/force-app/main/default/flows/Update_User_Story_Releases.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Update_Allocated_Release</name>
        <label>Update Allocated Release</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>$Record.TR_Allocated_Release__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.TR_Allocated_Sprint__r.TR_Release__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>isProposedSprintNull</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Proposed_Release</name>
        <label>Update Proposed Release</label>
        <locationX>50</locationX>
        <locationY>767</locationY>
        <assignmentItems>
            <assignToReference>$Record.TR_Proposed_Release__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.TR_Proposed_Sprint__r.TR_Release__c</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>IsAllocatedSprintNull</name>
        <label>IsAllocatedSprintNull</label>
        <locationX>182</locationX>
        <locationY>311</locationY>
        <defaultConnector>
            <targetReference>isProposedSprintNull</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>AllocatedSprintNull</defaultConnectorLabel>
        <rules>
            <name>AllocatedSprintNotNull</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.TR_Allocated_Sprint__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Allocated_Release</targetReference>
            </connector>
            <label>AllocatedSprintNotNull</label>
        </rules>
    </decisions>
    <decisions>
        <name>isProposedSprintNull</name>
        <label>isProposedSprintNull</label>
        <locationX>182</locationX>
        <locationY>647</locationY>
        <defaultConnectorLabel>ProposedSprintNull</defaultConnectorLabel>
        <rules>
            <name>ProposedSprintNull</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.TR_Proposed_Sprint__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Proposed_Release</targetReference>
            </connector>
            <label>ProposedSprintNotNull</label>
        </rules>
    </decisions>
    <formulas>
        <name>hasChangedAllocatedSprint</name>
        <dataType>Boolean</dataType>
        <expression>{!$Record.TR_Allocated_Sprint__c} != {!$Record__Prior.TR_Allocated_Sprint__c}</expression>
    </formulas>
    <formulas>
        <name>hasChangedProposedSprint</name>
        <dataType>Boolean</dataType>
        <expression>{!$Record.TR_Proposed_Sprint__c} != {!$Record__Prior.TR_Proposed_Sprint__c}</expression>
    </formulas>
    <interviewLabel>Update User Story Releases {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update User Story Releases</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>IsAllocatedSprintNull</targetReference>
        </connector>
        <object>TR_User_Story__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
